.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}
h1{
    margin-right: 900px;
    margin-left: 100px;
    
}
a{
    color: beige;
    text-decoration: none;
    
    
}
a :hover {
    color: azure;
}
ul li {
     flex-direction: row;
     display: inline-block;
     margin-left: 180px;
     font-weight: bold;
    
    

}
.hero-section {
    display: flex;
    background-color: #1F2937;
    color: white;
}

