.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}
h1{
    margin-right: 900px;
    margin-left: 100px;
    
}
a{
    color: beige;
    text-decoration: none;
    
    
}

ul li {
     flex-direction: row;
     display: inline-block;
     margin-left: 80px;
     font-weight: bold;
    
    

}
.hero-section {
    display: flex;
    background-color: #1F2937;
    color: white;

}
.description{
    margin-left: 400px;
    margin-right: 80px;
}
.name {
    font-size: 48px;
    font-weight: bold;
}
.details {

}

