.hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}
h1{
    margin-right: 630px;
    margin-left: 400px;
    
    
}

.image {
    margin-left: 80px;
}
a{
    color: beige;
    text-decoration: none;
    
    
}

ul li {
     flex-direction: row;
     display: inline-block;
     margin-left: 10px;
     font-weight: bold;
     padding-left: 10px;
    
    

}
.hero-section {
    display: flex;
    background-color: #1F2937;
    color: white;

}
.description{
    margin-left: 400px;
    margin-right: 80px;
    
}
.name {
    font-size: 48px;
    font-weight: bold;
}
button {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    
}
button:hover {
    cursor: pointer;
}
.carousel {
    display: flex;
}

